
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  
</head>
<body>

    <footer>
        <p>&copy;  Quản lý đối tác - Được phát triển bởi Trầm Ngọc Mai </p>
        <p>&copy;  Quản lý đối tác - Được phát triển bởi Trầm Ngọc Mai </p>
        <p>&copy;  Quản lý đối tác - Được phát triển bởi Trầm Ngọc Mai </p>
        <p>&copy;  Quản lý đối tác - Được phát triển bởi Trầm Ngọc Mai </p>
        <p>&copy;  Quản lý đối tác - Được phát triển bởi Trầm Ngọc Mai </p>
        <p>&copy;  Quản lý đối tác - Được phát triển bởi Trầm Ngọc Mai </p>
        <p>&copy;  Quản lý đối tác - Được phát triển bởi Trầm Ngọc Mai </p>

</body>
</html>
