<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="/css/app.css">
<body>


    <header>
        <h1>Quản lý đối tác</h1>
        <ul>
            <li><a href="/add-partner" data-page="add-partner">Thêm Đối Tác</a></li>
            <li><a href="/edit-partner" data-page="edit-partner">Cập Nhật Đối Tác</a></li>
            <li><a href="/add-activity" data-page="add-activity">Thêm Hoạt Động</a></li>
        </ul>
    </header>

    <!-- Nội dung trang web ở đây -->

    <script>
        // Lấy đường dẫn hiện tại từ URL
        const currentPath = window.location.pathname;

        // Lặp qua các liên kết và thêm lớp active cho liên kết tương ứng
        document.querySelectorAll('header a').forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    </script>
    <!-- Các thẻ script và đường dẫn tới JavaScript nếu có -->
</body>
</html>
